#africa{
   margin:auto;
   margin-top : 10vh;
   width: 80vw;
}
/* gallery */
.slide{
    border-radius: 2vw;
    margin:3vh 3vw;
    padding: 2vw;
}
h5{
    margin:1vw 1vw -2vw 1vw;
}
.item{
    background: #414141;
    margin:2.5vh 1vw 0;
    overflow: hidden;
    position: relative;
    /* padding:4vw 2.5vw 4vw 4vw; */
    width: 25vw;height: 25vw;
}
.item img{
    width: 25vw;height: 25vw;
    margin:auto;
}
.item p{
    background: rgba(0, 0, 0, 0.623);
    position: absolute;
    text-align: center;
    top:0;
    width: 100%;
    
}
.slidecontent{
    display: flex;
    overflow: scroll;
}
/* array */
table{
    background: rgb(136, 136, 136);
    margin:1vh 3vw;
    width: 94vw;
}
tr{
    border:solid rgb(145, 145, 145) 0.1em;
}
table:first-child {
    width: initial;
}
table:first-child td{
    border:solid rgb(145, 145, 145) 0.1em;
    font-size: 0.9em;
    padding:0 3vw;
    margin-top: 5vh;
    text-align: center;}