.demer {
    top: 7.8vh;
    position: fixed;
    width: 100vw;
}

.pl {
    display: flex;
    justify-content: space-between;
}

.lp {
    font-size: 0.9em;
    margin-left: 5vw;
    margin-top: 2vh;
}

.tit {
    height: 12vh;
    width: 100vw;
    
    background-color: rgb(31, 30, 30);
    box-shadow: 0px -15px 50px -20px black inset;
}
.titi {
    height: 10vh;
    width: 100vw;
    
    background-color: rgb(31, 30, 30);
    box-shadow: 0px -15px 50px -20px black inset;
}


.icone {
    height: 6vh;
    margin-left: 2vh;
    margin-top: 3vh;
}
.icon {
    height: 6vh;
    margin-left: 2vh;
    margin-top: 2vh;
}
.favorites {
    margin-top: 16.1vh;
    margin-bottom: 10vh;
}
.song {
    margin-top: -8.5vh;
    margin-left: 20vw;
    color: white;
}
.songdesc {
    margin-left: 20vw;
    margin-top: 2vh;
    font-size: .8em;
    color: white;
}
.son {
    text-align: center;
    margin-top: -10vh;
    color: white;
    font-size: .8em;
}
.songdes {
    text-align: center;
    margin-top: 2vh;
    color: white;
    font-size: .6em;
}
.basket {
    height: 5vh;
    left:85vw;
    margin-top: 1vh;
    position: absolute;
    display: none;
}
.arrow {
    height: 5vh;
    left:85vw;
    margin-top: 4vh;
    position: absolute;
}

.titre {
    z-index: 5;
    height: 12vh;
    width: 100vw;
    position: absolute;
}
.contenu {
    height: 14vh;
    display: none;
    background-color: rgb(27, 27, 27);
}
.content {
    height: 48.7vh;
    display: none;
    background-color: rgb(27, 27, 27);
}

/*                                       */


.playlists {
    margin-top: 16vh;
    margin-bottom: 10vh;
    width: 100vw;
    display: none;
}
.beatmaker {
    margin-top: 16.1vh;
    margin-bottom: 10vh;
    width: 100vw;
    display: none;
}
.ico {
    height: 8vh;
    margin-left: 1.5vh;
    margin-top: 1.5vh;
}
.upload {
    margin-top: 16.1vh;
    margin-bottom: 10vh;
    width: 100vw;
    display: none;
}
.upld {
    height: 12vh;
    width: 100vw;
    
    background-color: rgb(31, 30, 30);
    box-shadow: 0px -15px 50px -20px black inset;
}
.more {
    height: 5vh;
    left:86vw;
    margin-top: 3.5vh;
    position: absolute;
}