body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow:hidden; 
}
 #connect{ 
    color: rgb(197, 197, 212);
    position:absolute;
    width:40vw;
    top:80vh;
    left:28vw;
} 
#menu{
    position: absolute;
    top: 92vh;
    left: 5vw;
}
/* 
.menu{
    width: 100vw;
}
.menu div img{
    margin:2vh 7vw;
} */

html,body{
    background-color: rgb(20, 20, 20);
    width: 100%;height: 100%;
}
p{
    overflow: auto;
    color: white;
}
/* .contenaire{
    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 50vw;
    height: 50vh;
    border: 2px solid rgb(223, 185, 172);
    border-radius: 10%;
 } */
 .compte,.langue,.propos,.condition{
    /* position: absolute; */
    margin-top: 10vh;
    margin-left: 3vh;
    border: 2px solid rgb(77, 77, 85); 
    border-radius: 1vh;
    width: 88vw;
    color: rgb(241, 235, 235);


     
} 
#next,#langue,#propos,#condition{
    position: absolute;
    left: 90vw;
    color: rgb(228, 107, 59);
}