html,body{
   background-color: rgb(31, 30, 30);
   color:white;

}
#profilpic{
    width: 130px;height: 130px;
    border-radius : 100%;
    margin:auto;
    margin-bottom: 1vh
}
.profil{
    background: linear-gradient(-45deg, rgba(0,0,0,1) 20%, rgb(23, 0, 36) 50%, rgba(0,0,0,1) 80%); /* FF3.6-15 */
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
    position: fixed;
    height: 44vh;
    z-index: 10000;
    transition: 0.3s;
}

section{
    list-style:none;
    padding-top:48vh;
    margin-bottom: 9vh;
    transition: 0.3s;
}
/* song list */
.titre {
    height: 12vh;
    width: 100vw;
    background-color: rgb(31, 30, 30,0);
}

.icone {
    height: 8vh;
    margin-left: 2vh;
    margin-top: 2vh;
}
.favorites {
    margin-top: 16.1vh;
    margin-bottom: 10vh;
}
.song {
    text-align: center;
    margin-top: -10vh;
    color: white;
    font-size: 1.1em;
    padding-top:1vh 
}
.songdesc {
    text-align: center;
    margin-top: 2vh;
    color: white;
    font-size: 0.9em;
}
.basket {
    height: 6vh;
    left:85vw;
    margin-top: 3vh;
    position: absolute;
}
.tit {
    box-shadow: 0px -15px 50px -20px black inset;
    height: 12vh;
    width: 100vw;
    border-top: none;
    background-color: rgb(31, 30, 30);
}

.profilinfo{
    background: linear-gradient( rgb(92, 92, 92) 50%, rgb(63, 63, 63)  80%); /* FF3.6-15 */
    border: black 0.05em solid;
    border-radius: 10px;
    color:black;
    font-size: 0.9em;
    padding-top:5px; 
    width: 20vw;height: 18vw;
    margin: 3vh 15vw;
    transition: 0.3s;
}

.up{
    margin-top: -37vh;
    transition: 0.3s;
}
.upsong{
    padding-top: 14vh;
    transition: 0.3s;
}