.background {
    height: 100vh;
    width:100vw;
    filter: blur(5px);
    position: absolute;
}

.menu{
    width: 100vw;
}
.menu div img{
    margin:2vh 7vw;
}
input{
    left: 1vh;
}
/* search section */
#search{
    background: rgb(19, 19, 19);
    color:white;
    padding: 7.6vh 0 13vh 0;
    position: absolute;
    top:0%;left:0%;
    width: 100%;
}
#search h5{
    background: rgb(31, 31, 31);
    padding-left: 4vw;
}
#search li{
    display: flex;
    margin:5vw
}
#search img{
    width: 15vw;
    height:15vw;
}
#search div{
    margin: auto 5vw;
}
#search ul:nth-child(2) p:nth-child(2){
    color: rgba(255, 255, 255, 0.548);
    font-size: 0.9em;
    margin: auto;
}
#search ul:nth-child(4) p{
    margin: auto 5vw;
}
#search ul:nth-child(6) {
    font-size: 0.8em;
    display:flex;
    flex-wrap: wrap;
}
#search ul:nth-child(6) a{
    background-color: rgba(83, 83, 83, 0.541);
    border-radius: 10px;
    color:white;
    padding: 1vh 1vw;
    margin:0.5vh -10% -3vh 0 ;
    
}
main{
    display:block
}
#search{
    display:none
}